:root {
	--vp-c-brand-1: #7f1a64;
	--vp-button-brand-bg: var(--vp-c-brand-1);
	--vp-button-brand-hover-bg: #551143;
	--vp-button-brand-text: #fff;
	--vp-button-brand-hover-text: var(--vp-button-brand-text);
}

.dark {
	--vp-c-brand-1: #1fad9f;
	--vp-button-brand-bg: #7f1a64;
	--vp-button-brand-text: #000;
}

.logo {
	margin-block-start: 7px;
}

@media (min-width: 475px) {
	.logo {
		--vp-nav-logo-height: 39px;
		margin-block-start: 1px;
	}
}

@media (min-width: 960px) {
	.VPHomeFeatures .item.grid-4 {
		width: calc(100% / 3);
	}
}

.VPDoc .aside {
	max-width: 350px;
}

.VPDoc .aside-container {
	width: 324px;
}

.box:has(.coming-soon) {
	position: relative;
}

.coming-soon {
	background-color: var(--vp-c-brand-1);
	border-radius: 0 12px 0 12px;
	color: var(--vp-button-brand-text);
	font-size: 14px;
	font-weight: 500;
	inset-block-start: 0;
	inset-inline-end: 0;
	padding: 2px 10px;
	position: absolute;
}

.vp-doc h2 > .VPBadge {
	margin-top: 0;
	vertical-align: middle;
}
